<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
    <link th:href="@{Style/editPerson.css}" rel="stylesheet">
<!--        <link rel="stylesheet" href="../../static/Style/editPerson.css"/>-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

<div class="bar">
    <div class="Logo">
        <label class="Mira">Mira </label>
        <i class='bx bx-book-alt' ></i>
    </div>

    <div class="back">
        <a class="backToSearch" href="/people/search">
            Back
        </a>
    </div>
</div>

<form class="form" th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <div class="update">

        <h1>Update person</h1>
        <hr/>
        <br/>
        <div class="inputError">
            <div class="error" style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            <input type="text" th:field="*{name}" id="name" placeholder="Enter changed name " required/>
        </div>

        <br/>

        <div class="inputError">
            <div class="error" style="color:red" th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">date Of Birth Error</div>
            <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth" placeholder="Enter changed Date of Birth " required/>
        </div>

        <br/>

        <input class="btn" type="submit" value="Update!"/>

    </div>
</form>



<footer>
    <p>&copy; 2024 People System</p>
</footer>
</body>
</html>